<p>Blackjack is played with one or more standard 52-card decks. The standard deck has 13 ranks in 4 suits.</p>

<p><strong>Background</strong></p>

<ul>
    <li>To start with, the players and the dealer are dealt separate hands. Each hand has two cards in it.</li>
    <li>The dealer has one card exposed (the up card) and one card concealed (the hole card), leaving the player with incomplete information about the state of the game.</li>
    <li>The player’s objective is to make a hand that has more points than the dealer, but less than or equal to 21 points.</li>
    <li>The player is responsible for placing bets when they are offered, and taking additional cards to complete their hand.</li>
    <li>The dealer will draw additional cards according to a simple rule: when the dealer’s hand is 16 or less, they will draw cards (called a hit), when it is 17 or more, they will not draw additional cards (or stand pat).</li>
</ul>

<p><strong>Points calculation</strong></p>

<p>Blackjack has different point values for each of the cards:</p>

<ul>
    <li>The number cards (2-10) have the expected point values.</li>
    <li>The face cards (Jack, Queen, and King) all have a value of 10 points.</li>
    <li>The Ace can count as one point or eleven points. Because of this, an Ace and a 10 or face card totals 21. This two-card winner is called “blackjack”.</li>
    <li>When the points include an ace counting as 11, the total is called soft-total; when the ace counts as 1, the total is called hard-total. For example, A+5 can be considered a soft 16 or a hard 6.</li>
</ul>

<p><strong>Gameplay</strong></p>

<ol>
    <li>The player places an initial bet.</li>
    <li>The player and dealer are each dealt a pair of cards.</li>
    <li>Both of the player’s cards are face up, the dealer has one card up and one card down.</li>
    <li>If the dealer’s card is an ace, the player is offered insurance.</li>
</ol>

<p>Initially, the player has a number of choices:</p>

<ul>
    <li>If the two cards are the same rank, the player can elect to split into two hands.</li>
    <li>The player can double their bet and take just one more card.</li>
    <li>The more typical scenario is for the player to take additional cards (a hit ) until either their hand totals more than 21 (they bust ), or their hand totals exactly 21, or they elect to stand.</li>
    <li>If the player’s hand is over 21, their bet is resolved immediately as a loss. If the player’s hand is 21 or less, it will be compared to the dealer’s hand for resolution.</li>
</ul>

<p><strong>Dealer has an Ace.</strong> If the dealer’s up card is an ace, the player is offered an insurance bet. This is an additional proposition that pays 2:1 if the dealer’s hand is exactly 21. If this insurance bet wins, it will, in effect, cancel the loss of the initial bet. After offering insurance to the player, the dealer will check their hole card and resolve the insurance bets. If the hole card is a 10-point card, the dealer has blackjack, the card is revealed, and insurance bets are paid. If the hole card is not a 10-point card, the insurance bets are lost, but the card is not revealed.</p>

<p><strong>Split Hands.</strong> When dealt two cards of the same rank, the player can split the cards to create two hands. This requires an additional bet on the new hand. The dealer will deal an additional card to each new hand, and the hands are played independently. Generally, the typical scenario described above applies to each of these hands.</p>

<p><strong>Bets</strong></p>

<ul>
    <li>Ante: This is the initial bet and is mandatory to play.</li>
    <li>Insurance: This bet is offered only when the dealer shows an ace. The amount must be half the ante.</li>
    <li>Split: This can be thought of as a bet that is offered only when the player’s hand has two cards of equal rank. The amount of the bet must match the original ante.</li>
    <li>Double: This can be thought of as a bet that is offered instead of taking an ordinary hit. The amount of the bet must match the original ante.</li>
</ul>



