{% load bold %}
<div class="mt-2" style="color:black; background-color:#e2f4c7; border-radius:5px; padding:5px; font-size: 25px;">
    <strong>{{section}}</strong>
</div>
<p class="mt-2">We will focus on the following set of requirements while designing the {{name}}:</p>
{% with results as requirements %}
    {% if requirements %}
        <ol>
            {% include 'includes/li.html' with results=requirements %}
        </ol>
    {% endif %}
{% endwith %}

{% with results1 as actors %}
    {% if actors %}
        {% include 'includes/p_with_ul.html' with message="Here are the main actors in our system:" results=actors is_bold=True %}
    {% endif %}
{% endwith %}

{% with results2 as usecases %}
    {% if  usecases %}
        {% include 'includes/p_with_ul.html' with message="Here are the top use cases for" name=name results=usecases is_bold=True %}
    {% endif %}
{% endwith %}

{% with results3 as classes %}
    {% if  classes %}
        {% include 'includes/p_with_ul.html' with message="Here are the classes for" name=name results=classes is_bold=True %}
    {% endif %}
{% endwith %}

{% with results4 as activity_diagrams %}
    {% if activity_diagrams %}
        {% for activity_diagram in activity_diagrams %}
            <p class="mt-4">{{activity_diagram.activity | bold}}</p>
            <div class="d-flex justify-content-center p-3">
                <img src="{{activity_diagram.image.url}}" class="img-fluid" alt="">
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if image %}
        {% include 'includes/image.html' with image=image %}
{% endif %}

{% if uml %}
    {% include 'includes/image.html' with image=uml %}
{% endif %}