{% load bold %}
{% with results as requirements %}
    {% if requirements %}
    <p class="mt-2">We will focus on the following set of requirements while designing the {{name}}:</p>
        <ol>
            {% include 'includes/li.html' with results=requirements %}
        </ol>
    {% endif %}
{% endwith %}

{% with results1 as actors %}
    {% if actors %}
        {% include 'includes/p_with_ul.html' with message="Here are the main actors in our system:" results=actors is_bold=True %}
    {% endif %}
{% endwith %}

{% with results2 as usecases %}
    {% if  usecases %}
        {% include 'includes/p_with_ul.html' with message="Here are the top use cases for" name=name results=usecases is_bold=True %}
    {% endif %}
{% endwith %}

{% with results3 as classes %}
    {% if  classes %}
        {% include 'includes/p_with_ul.html' with message="Here are the classes for" name=name results=classes is_bold=True %}
    {% endif %}
{% endwith %}

{% with results4 as activity_diagrams %}
    {% if activity_diagrams %}
        <ol>
        {% for activity_diagram in activity_diagrams %}
            <li><p class="mt-4">{{activity_diagram.activity | bold}}</p></li>
            <div class="d-flex justify-content-center p-3">
                <img src="{{activity_diagram.image.url}}" class="img-fluid" alt="">
            </div>
        {% endfor %}
        </ol>
    {% endif %}
{% endwith %}

{% with results5 as sequence_diagrams %}
  {% if sequence_diagrams %}
        <ol>
            {% for sequence_diagram in sequence_diagrams %}
                <li><p class="mt-4">{{sequence_diagram.description | bold}}</p></li>    
                <div class="d-flex justify-content-center p-3">
                    <img src="{{sequence_diagram.image.url}}" class="img-fluid" alt="">
                </div>
            {% endfor %}
        </ol>
    {% endif %}
{% endwith %}

{% with results7 as concurrency %}

    {% if  concurrency %}
    <pre style="background-color: #1e1e1e; border-radius: 0px;">
        {{concurrency.description}}
    </pre>
    {% endif %}
{% endwith %}


{% if image %}
        {% include 'includes/image.html' with image=image %}
{% endif %}

{% if uml %}
    {% include 'includes/image.html' with image=uml %}
{% endif %}