{% load bold %}

{% if is_bold and results %}
    {% for result in results %}
        {% if result.actorSubtasks.all.count > 0 %}
            <li>{{result.actor| bold}}</li>
            {% include 'includes/ol_with_li.html' with results=result.actorSubtasks.all %}
        {% elif result.subUseCases.all.count > 0 %}
            <li>{{result.use_case| bold}}</li>
            {% include 'includes/ol_with_li.html' with results=result.subUseCases.all %}
        {% else %}
            {% if result.actor %}
                <li>{{result.actor| bold}}</li>
            {% elif result.use_case %}
                <li>{{result.use_case| bold}}</li>
            {% else %}
                <li>{{result| bold}}</li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% elif results %}
    {% for result in results %}
        {% if result.actorSubtasks.all.count > 0 %}
            <li>{{result.actor}}</li>
            {% include 'includes/ol_with_li.html' with results=result.actorSubtasks.all %}
        {% elif result.subUseCases.all.count > 0 %}
            <li>{{result.actor}}</li>
            {% include 'includes/ol_with_li.html' with results=result.subUseCases.all %}
        {% else %}
            {% if result.actor %}
                <li>{{result.actor}}</li>
            {% elif result.use_case %}
                <li>{{result.use_case}}</li>
            {% else %}
                <li>{{result}}</li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}