<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'home' %}">OOD</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Prerequisites
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'oob' %}">Object Oriented Basics</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'ooa' %}">Object Oriented Analysis & Design</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'uml' %}">UML</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'usecase' %}">Use Case Diagrams</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'class' %}">Class Diagrams</a>
           <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'sequence' %}">Sequence Diagrams</a>
           <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'activity' %}">Activity Diagrams</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
