{% extends 'base.html' %}
{% load static %}
{% load bold %}

{% block title %}
<title>System Design | {{problem.name}}</title>
{% endblock title %}
{% block problem_description %}
    <h2 class="mt-3">{{problem.name}}</h2>
    <p class="mt-2" style="font-size: larger; font-weight: 500;">Let's make an object-oriented design for a {{problem.name}}
    </p>
    <p class="ml-3 p-2" style="font-weight: 400;">{{problem.description}}</p>
    <div class="d-flex justify-content-center p-3">
        <img src="{{problem.image.url}}" class="img-fluid" alt="{{problem.name}} image">
    </div>
    <span class="d-flex justify-content-center">{{problem.name}}</span>
{% endblock problem_description %}

{% block system_requirement %}
    {% include 'includes/section.html' with section="System Requirements" %}
    {% include "includes/common.html" with name=problem.name results=requirements %}
{% endblock system_requirement %}

{% block how_it_works %}
    
    {% if atm %}
        {% include 'includes/section.html' with section="How It Works" %}
        {% include "includes/atm.html"%}
    {% endif %}
        
{% endblock how_it_works %}

{% block use_case_diagram %}
    {% include 'includes/section.html' with section="Use case diagram" %}
    {% include "includes/common.html" with  name=problem.name results1=actors results2=usecases image=use_case_diagram.image.url %}
{% endblock use_case_diagram %}

{% block class_diagram %}
    {% include 'includes/section.html' with section="Class diagram" %}
    {% include "includes/common.html" with  name=problem.name results3=classes image=class_diagram.image.url uml=class_diagram.uml.url %}
{% endblock class_diagram %}

{% block activity_diagram %}
    {% include 'includes/section.html' with section="Activity diagram" %}
    {% include "includes/common.html" with  results4=activity_diagrams %}
{% endblock activity_diagram %}

{% block sequence_diagram %}
    {% if sequence_diagrams %}
        {% include 'includes/section.html' with section="Sequence diagram" %}
        {% include "includes/common.html" with  results5=sequence_diagrams %}
    {% endif %}
{% endblock sequence_diagram %}

{% block code %}
    {% include 'includes/section.html' with section="Code" %}
    {% include "includes/code.html" with name=problem.name  results6=codes %}
{% endblock code %}

{% block concurrency %}
    {% if concurrency %}
        {% include 'includes/section.html' with section="Concurrency" %}
        {% include "includes/concurrency.html" with name=problem.name %}
    {% endif %}
{% endblock concurrency %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $(".nav-tabs a").click(function () {
                $(this).tab('show');
            });
        });
    </script>
{% endblock javascript %}